* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	margin: auto;
	display: grid;
	place-items: center;
	background-color: rgb(224, 202, 173);
}
#hero-section {
	margin-top: 100px;
}
h1 {
	font-size: 45px;
	font-family: italic;
	font-weight: 600;
	display: grid;
	text-align: center;
}
p {
	font-size: 25px;
	font-weight: 300;
	color: rgb(247, 27, 27);
	padding-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
}
p {
	column-count: 3;
	column-rule: 5px solid black;

	/* column-fill: auto; */
	column-gap: 50px;
	text-align: justify;
}
