* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: rgb(0, 0, 33);
	color: white;
	font-family: 'Poppins', sans-serif;
}
html {
	scroll-behavior: smooth;
}
::selection {
	color: rgb(5, 5, 5);
	background-color: #c2adad;
}
nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 80px;
	background-color: rgb(18, 18, 62);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}
nav ul {
	display: flex;
	justify-content: center;
}
nav ul li {
	list-style-type: none;
	margin: 0 23px;
}
nav ul li a {
	text-decoration: none;
	color: white;
}
nav ul li a:hover {
	color: rgb(153, 153, 226);
	font-size: 1.01rem;
}
.left {
	font-size: 1.5rem;
}
.firstSection {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 90px 0;
	margin-top: 10rem;
}
.firstSection > div {
	width: 30%;
}
.leftSection {
	font-size: 2rem;
}
.leftSection .buttons {
	padding: 50px 0;
}
.leftSection .btn {
	padding: 12px;
	background-color: #1e2167;
	color: white;
	border: 2px solid white;
	border-radius: 6px;
	font-size: 20px;
	cursor: pointer;
}
.rightSection img {
	width: 80%;
}
.purple {
	color: blueviolet;
}
.text-gray {
	color: gray;
}
#element {
	color: blueviolet;
}
.secondSection {
	max-width: 80vw;
	margin: auto;
	height: 87vh;
}
main hr {
	border: 0;
	background-color: #9c97f1;
	height: 1.2px;
	margin: 60px 84px;
}
.secondSection h1 {
	font-size: 30px;
}
.secondSection .box {
	background-color: white;
	height: 2px;
	width: 77.5vw;
	margin: 56px 0;
	display: flex;
}
.secondSection .vertical {
	height: 93px;
	width: 1px;
	background-color: white;
	margin: 0 102px;
}
.image-top {
	width: 23px;
	position: relative;
	top: -32px;
	left: -9px;
}
.vertical-title {
	font-size: 19px;
	position: relative;
	top: 75px;
	width: 150px;
}
.vertical-desc {
	position: relative;
	top: 86px;
	color: grey;
	width: 150px;
	font-size: 12px;
}

.aboutLine {
	border: 0;
	background-color: #9c97f1;
	height: 1.2px;
	margin: 60px 84px;
}
.aboutLine h1 {
	font-size: 1.8rem;
}
.aboutCompartment {
	height: 170vh;
	margin: auto;
	max-width: 80vw;
}
.left1Box {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	border-radius: 10px;
	padding: 1rem;
	transition: all 1.3s linear;
}
.left1Box img {
	width: 60px;
	height: 60px;

	border-radius: 20%;
}
.Box1text p {
	max-width: 80%;
	font-size: 17px;
	color: rgb(180, 180, 199);
}
.Box1text h3 {
	font-size: 25px;
}
.left1 {
	display: flex;
	flex-direction: column;
	/* align-items: space-around; */
	gap: 2rem;
	/* justify-content: space-around; */
}
.right1 img {
	max-width: 300px;
	border: none;
	transition: all 1.3s linear;
	filter: drop-shadow(2px 2px 1px #f7f3f3);
}
.aboutDesc {
	/* margin: auto; */
	display: flex;
	gap: 4rem;
	justify-content: center;
	align-items: center;
	/* padding-left: 5rem; */
	padding-left: 5rem;
	padding-right: 1rem;
	padding-top: 6rem;
	padding-bottom: 6rem;

	border: 0px solid transparent;
	border-radius: 20px;
	margin-top: 4rem;
	background-color: rgb(2, 2, 19);
	/* margin-bottom: 4rem; */
	/* background-color: #06071a; */
}
.aboutCompartment h1 {
	font-size: 30px;
}
.left1Box:hover {
	background: radial-gradient(
		circle at 74.2% 50.9%,
		rgb(14, 72, 222) 5.2%,
		rgb(3, 22, 65) 75.3%
	);
	transform: scale(1.01);
}
.right1 img:hover {
	transform: scale(1.1);
}
.myprojectsContainer {
	max-width: 80vw;
	margin: auto;
	height: 200vh;
}
.myprojectsContainer h1 {
	font-size: 30px;
	margin-bottom: 0.5rem;
}
.myprojectsContainer h2 {
	font-size: 28px;
	color: blueviolet;
}
.card1 img {
	max-width: 400px;
	border-radius: 20px;
	border: 1px solid transparent;
}
.card1 h1 {
	font-size: 30px;
	letter-spacing: 2px;
	margin-bottom: 1.5rem;
	margin-top: 1rem;
	transition: all 0.3s linear;
}
.card1 button {
	font-size: 18px;
	text-transform: capitalize;
	padding: 10px 25px;
	border-radius: 14px;
	border: transparent;
	color: rgb(0, 0, 33);
	font-weight: bold;
}
.card1 {
	text-align: center;
	border: 1px solid transparent;
	border-radius: 25px;
	background-color: rgb(2, 2, 19);
	padding: 3rem;
}
.card {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	gap: 4rem;
	margin-top: 3rem;
}
.card1 h1:hover {
	color: yellow;
}
.card1 button:hover {
	background-color: yellow;
}
.End {
	text-align: center;
	padding-top: 3rem;
}
.End h3 {
	font-size: 25px;
}
footer {
	background-color: #0e0e1a;
	/* height: 233px; */
}
.footer {
	margin: auto;
	max-width: 80vw;
	padding-top: 3rem;
}
.footer h2 {
	font-size: 40px;
	text-align: center;
	text-transform: capitalize;
	padding-bottom: 1rem;
}
.footer h1 {
	font-size: 30px;
	text-align: center;
	text-transform: capitalize;
}
.linkBox img {
	width: 80px;
}
.linkBox {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	padding-top: 1.2rem;
	padding-bottom: 3rem;
}
.secondSectionCard1 img {
	max-width: 80px;
}
.secondSectionDesc h2 {
	font-size: 20px;
	padding-bottom: 3px;
}
.secondSectionDesc p {
	font-size: 13px;
	opacity: 0.6;
}
.secondSectionCard1 {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 9px;
	border: 1px solid transparent;
	max-width: 400px;
	padding: 1rem;
	background-color: rgb(4, 4, 22);
}
.secondSectionCard {
	margin-top: 2.5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 3rem;
}

@media screen and (min-width: 0px) and (max-width: 480px) {
	nav ul li {
		list-style-type: none;
		margin: 0px 20px;
	}
	nav {
		flex-direction: column;
		gap: 10px;
		padding-top: 15px;
		padding-bottom: 1rem;
		height: 111px;
	}
	.firstSection > div {
		width: 71%;
		text-align: center;
	}
	.firstSection {
		flex-direction: column-reverse;
		gap: 2.5rem;
		margin-bottom: 0px;
		margin-top: 11rem;
	}
	.leftSection .btn {
		margin-top: 13px;
		margin-left: 12px;
	}
	.leftSection .buttons {
		padding: 22px 0;
		text-align: justify;
	}
	.aboutCompartment {
		max-width: 100%;
	}
	.aboutDesc {
		flex-direction: column;
		margin-left: 1rem;
		margin-right: 1rem;
		/* margin: auto; */
		padding-left: 1rem;
		/* gap: 1rem; */
		margin-top: 3rem;
		/* max-width: 100%; */
		padding-top: 2rem;
		padding-bottom: 1rem;
	}
	.right1 {
		display: none;
	}
	.Box1text p {
		max-width: 101%;
	}
	.Box1text h3 {
		font-size: 23px;
		padding-bottom: 8px;
	}
	.left1 {
		gap: 1rem;
		padding-bottom: 1rem;
	}
	.aboutCompartment {
		height: 97vh;
	}
	.left1Box {
		padding: 0;
		gap: 23px;
	}
	.aboutCompartment h1 {
		padding-left: 2rem;
	}
	.card1 {
		padding: 1rem;
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
	.card1 img {
		max-width: 264px;
	}
	.card {
		gap: 2rem;
		height: 39vh;
		background: #040849;
		overflow: auto;
		padding-top: 1rem;
		padding-bottom: 1rem;
		padding-left: 0;
		border-radius: 23px;
		margin-top: 2.5rem;
	}
	.card1 button {
		padding: 8px 21px;
	}
	.myprojectsContainer {
		height: 70vh;
	}
	.linkBox img {
		width: 70px;
	}
	.linkBox {
		gap: 20px;
	}
	.footer h2 {
		padding-bottom: 7px;
	}
	.footer {
		padding-top: 2rem;
	}
	.secondSectionCard {
		gap: 2rem;
		margin-top: 30px;
	}
	.secondSectionCard1 {
		gap: 9px;
		padding: 14px;
	}
	.secondSection {
		height: 113vh;
	}
	main hr {
		margin: 57px 66px;
		height: 2.2px;
	}
	.aboutLine {
		margin: 57px 66px;
		border: 0;
		background-color: #9c97f1;
		height: 2.2px;
	}
}
